// Colors

$primary-dark-blue: hsl(233, 47%, 7%);
$primary-desaturated-blue: hsl(244, 38%, 16%);
$primary-soft-violet: hsl(277, 64%, 61%);

$neutral-white-100: hsl(0, 0%, 100%);
$neutral-white-200: hsla(0, 0%, 100%, 0.75);
$neutral-white-300: hsla(0, 0%, 100%, 0.6);

// Typography
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$font-inter: "Inter", sans-serif;
$font-lexend-deca: "Lexend Deca", sans-serif;

$body-font-size: 0.9375rem;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  align-items: center;
  background-color: $primary-dark-blue;
}

strong {
  color: $primary-soft-violet;
}

html,
.preview-card,
.preview-card__photo {
  display: flex;
}

html,
.preview-card {
  justify-content: center;
}

.preview-card {
  flex-wrap: wrap-reverse;
  background-color: $primary-desaturated-blue;
}

@media screen and (min-width: 1440px) {
  .preview-card__photo {
    background-image: url("./images/image-header-desktop.jpg");
  }
}

@media screen and (max-width: 1440px) {
  .preview-card__photo {
    background-image: url("./images/image-header-mobile.jpg");
  }
}

.preview-card__photo {
  background-color: $primary-soft-violet;
  background-size: cover;
  background-blend-mode: overlay;
  height: 100%;
  width: auto;

  img,
  source {
    opacity: 0.25;
    height: 100%;
    width: 100%;
    filter: contrast(0.9);
    filter: brightness(0.01);
  }
}

.preview-card__text {
  font-family: $font-inter;
  font-size: $body-font-size;
  display: flex;
  flex-direction: column;
  flex-basis: 1;
}

.preview-card__text__heading {
  font-size: 2rem;
  color: $neutral-white-100;
}

.preview-card__text__description {
  color: $neutral-white-200;
}

.preview-card__text__stats__stat__number {
  color: $neutral-white-100;
}

.preview-card__text__stats__stat__heading {
  font-family: $font-lexend-deca;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: $neutral-white-300;
  font-weight: 400;
}
